{% extends "layout.html" %}
{% load bootstrap4 static %}

{% block title %}
    Checkmate. 
{% endblock title%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
          <div class="box" style="background: #BDBDBD;">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-1"  src="{% static 'img/profile.JPG' %}">
          </div>
        </div>
        <!-- About-->
        <div class="col-sm-4">
          <div class="box2">
            <p class="nm">CheckMate</p>
            <p>
                CBNU COMPUTER ENGINEERING TEAM 4<br>
                딥러닝 기반의 얼굴 인식을 활용한 출석 체크 Web Service<br>
                <a href="mailto:name@email.com">CheckMate_official@emailname.com</a>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="justify-content-center">
                <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
            <hr>
            <fieldset>
                <a href="{% url 'attendance:classroom_new' %}"><img class="button_checker" id="b1" src="{% static 'img/button_1.png' %}" alt="버튼1"></a>
                <a href="{% url 'attendance:classroom_enroll' %}"><img class="button_checker" id="b2" src="{% static 'img/button_2.png' %}" alt="버튼2"></a>
            </fieldset> 
        </div>
        <div class="col-sm-3">
            <div class="g_int">
                <h3>CHECK!</h3>
                <p>현재 80% 출석 완료!</p>
            </div>
            <div class="graph1">
                <section>
                <div class="pieID pie">
                </div>
                <ul class="pieID legend">
                    <li>
                    <em>출석!</em>
                    <span>180</span>
                    </li>
                    <li>
                    <em>결석!</em>
                    <span>20</span>
                    </li>
                </ul>
                </section>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="g_int">
                <h3>MATE!</h3>
                <p>현재 80% 출석 완료!</p>
            </div>
            <div class="graph2">
                <section>
                <div class="pieID2 pie2">
                </div>
                <ul class="pieID2 legend2">
                    <li>
                    <em>출석!</em>
                    <span>50</span>
                    </li>
                    <li>
                    <em>결석!</em>
                    <span>150</span>
                    </li>
                </ul>
                </section>
            </div>
        </div>
        <div class="col-sm-6">
            <hr>
            <fieldset class= "noti" style="width:90%">
            <legend>NOTICE</legend>
            <table class="table table-hover">
                <thead>
                <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>4</td>
                <td>안녕하세요? 체크메이트입니다.</td>
                <td>checkmate</td>
                <td>20-10-05</td>
                <td>1005</td>
                </tr>
                <tr>
                <td>3</td>
                <td>nice to meet you~!~!</td>
                <td>checkmate</td>
                <td>20-10-04</td>
                <td>100</td>
                </tr>
                <tr>
                <td>2</td>
                <td>hello world~</td>
                <td>checkmate</td>
                <td>20-10-03</td>
                <td>12</td>
                </tr>
                <tr>
                <td>1</td>
                <td>gkrltlfhek..</td>
                <td>checkmate</td>
                <td>20-10-02</td>
                <td>0</td>
                </tr>
                </tbody>
            </table>
            </fieldset>
            <a class="btn float-left">더보기</a>
        </div>
    </div>
</div>
{% endblock content %}

<script src="{% static 'bootstrap-4.5.2-dist/js/pie.js'%}"></script>
<script src="{% static 'bootstrap-4.5.2-dist/js/ppc.js'%}"></script>

