{% extends "layout.html" %}

{% block title %}
    Checkmate. 
{% endblock title%}

{% block content %}
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="main">
        <div class="resume-section-content">
            <h1 class="mb-0">
                <span class="text-danger">Check</span>
                Mate
            </h1>
            <div class="subheading mb-5">
                CBNU COMPUTER ENGINEERING TEAM 4
                <a href="mailto:name@email.com">CheckMate_official@emailname.com</a>
            </div>
            <p class="lead mb-5">딥러닝 기반의 얼굴 인식을 활용한 출석 체크 Web Service</p>
        </div>
    </section>
</div>
{% endblock content %}