{% extends 'attendance/layout.html '%}
{% load static %}

{% block style %}
<style>
    #container {
        margin: 0px auto;
        width: 500px;
        height: 378px;
        border: 8px #333 solid;
    }
    #videoElementElement {
        margin: 0px auto;
        width: 500px;
        border: none;
    }
    
</style>
{% endblock style %}

{% block content %}
<div class='container'>
    <div id="container">
        <video class="img-fluid img-profile mx-auto mb-2" autoplay="true" id="videoElementElement"></video>
    </div>
    <div class='align-right'>
        <button id="start" class='btn-primary'> START </button>     
        <button id="stop" class='btn-danger'> STOP </button>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
// 웹캠 스트리밍 
var video = document.getElementById("videoElement");
var video2 = document.getElementById("videoElementElement");
var startButton = document.getElementById('start');
var stopButton = document.getElementById('stop');
var videoTracks;


    
// 스트리밍 스타트
startButton.addEventListener('click', function(stream) {
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "user" }  })
    .then(function (stream) {
    video.srcObject = stream;
    video2.srcObject = stream;
    videoTracks = stream.getVideoTracks();
    videoTracks2 = stream.getVideoTracks();
    })
});

// 스트리밍 스탑
stopButton.addEventListener('click', function() {
    videoTracks.forEach(function(track) {track.stop()});
    videoTracks2.forEach(function(track) {track.stop()});
});

</script>
{% endblock script %}

