{% extends "attendance/layout.html" %}
{% load bootstrap4 static %}

{% block content %}

<div class='container'>

    <table class="table table-bordered table-hover" style="margin-top: 1rem">
        <thead  class="thead-dark">
            <tr>
            <th scope="col">닉네임</th>
            <th scope="col">이메일</th>
            <th scope="col">학교 or 소속</th>
            <th scope="col">학번 or 학년/반</th>
            <th scope="col">메세지</th>
            </tr>
        </thead>
        <tbody>
            {% for enroll in classroom_enroll_list %}
                <tr name='enroll_list' id="{{ enroll.user }}">
                    <td name='nickname'>
                        {{ enroll.user.nickname }}
                    </td>
                    <td name='email'>
                        {{ enroll.user.user.email }}
                    </td>
                    <td name='school'>
                        {{ enroll.user.school }}
                    </td>
                    <td name='student_id'>
                        {{ enroll.user.student_id }}
                    </td>
                    <td name='msg'>
                        {{ enroll.msg }}
                    </td>
                    <td name='enroll_btn' >
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-primary active">
                                <input type="radio"  name="accept" autocomplete="off"> 수락
                            </label>
                            <label class="btn btn-outline-danger">
                                <input type="radio"  name="reject" autocomplete="off"> 거절
                            </label>
                        </div>
                    </td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>
    <button type="button" id="complete" class="btn btn-secondary btn-lg btn-block">Complete ! </button>
</div>
{% endblock content %}

{% block script %}
<script>
var user_list = {};
var enroll_list= document.getElementsByName('enroll_list');
var button_id= 'complete';

$(function(){
    $("#" + button_id).click(function(e){
        e.preventDefault();
        for(var i=0;i<enroll_list.length;i++)
        {  
            if(enroll_list[i].getElementsByTagName('input').accept.checked == true){
                user_list[enroll_list[i].id] = 'True'
            }
            else if(enroll_list[i].getElementsByTagName('input').reject.checked == true){
                user_list[enroll_list[i].id] = 'False'
            }
            else{
                user_list[enroll_list[i].id] = 'None'
            }
        }
        $.ajax({
            url:"{% url 'attendance:classroom_enroll_ajax' classroom_uuid %}",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(user_list),
            dataType:'text',
            success:function(result){
                alert("success!");
            }
        })
    });
});
</script>
{% endblock script %}