{% extends "attendance/layout.html"  %}
{% load static bootstrap4 %}
{% block title %}
    My classroom
{% endblock title %}
{% block content %}
    <!-- <form action="" method="get"> multipart/form-data request.FILES
        <input type="text", name="q"/>
        <input type="submit" value="검색" />
    </form> -->
<div class="container">
    <fieldset>
        <a href="{% url 'attendance:classroom_new' %}">
            <img class="button_checker" style="width: 15%; float:right"  id="b1" src="{% static 'img/button_1.png' %}" alt="버튼1"></a>
            <img class="button_checker" style="width: 15%; float:right"  id="b2" src="{% static 'img/button_2.png' %}" alt="버튼1"></a>
        </a>
    </fieldset>
    <table class="table table-bordered table-hover" style="margin-top: 1rem">
        <tbody>
            {% for role in role_list %}
                <tr>
                    <td>
                        <a href= "{% url 'attendance:classroom_detail' uuid=role.classroom.uuid is_checker=role.is_checker %} " >
                            {{ role.classroom.name }}
                        </a>
                    </td>
                    <td>
                        {{ role.classroom.uuid }}
                    </td>
                    <td>
                        {{ role.classroom.personnel }}
                    </td>
                    {% if role.is_checker %}
                    <td>
                        checker
                    </td>
                    {% else %}
                    <td>
                        mate
                    </td>
                    {%endif%}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}